# Dependencies
node_modules
pnpm-lock.yaml

# Build outputs
build
dist
.svelte-kit

# Tauri
src-tauri/target
src-tauri/Cargo.lock

# Logs
*.log
logs

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea
*.swp
*.swo

# Env files with secrets
.env.local
.env.*.local

# Temporary files
tmp
*.tmp
